.App {
  text-align: center;
  background-color: rgb(240, 240, 240);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.bgStyle {
  background-image: url("./Images/Z-Logo.png");
  background-color: #282c34;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover !important;
  height: 100%;
}

.quoteStyle {
  word-spacing: 10vw;
  margin-top: 300px;
}

@media (max-width: 768px) {
  .bgStyle {
    background-size: contain !important;
  }
  .quoteStyle {
    margin-top: 200px !important;
    word-spacing: 0vw !important;
  }
}

.cardStyle {
  background-color: rgb(215, 231, 245) !important;
  border-radius: 5% !important;
  width: 17rem;
  border-width: thin;
  overflow: hidden;
}

.cardStyle:hover {
  border-width: thick;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.imgDiv {
  overflow: hidden;
}

.imageStyle {
  padding: 0.3rem;
  border-radius: 5%;
  height: 19rem !important;
  transition: transform 0.5s ease;
}

.imageStyle:hover {
  transform: scale(1.3);
}
